<h2>保護者用のログインページです</h2>

<%= form_with url: parent_sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "送信" %>
<% end %>
