<div class="header">
  <div class="header-main">
    <div class="header-title"><%= link_to "アプリ", root_path if !logged_in? %></div>
    <div class="header-title"><%= link_to "アプリ", teacher_path(current_user.id) if logged_in? %></div>
  </div>
  <div class="header-right">
    <% if logged_in? %>
      <%= link_to "生徒募集掲示板を見る", teacher_boards_path %>
      <%= link_to "講師募集掲示板を見る" %>
      <%= link_to "ログアウト", teacher_session_path(current_user.id), method: :delete %>
    <% else %>
      <ul class="header-list">
        <li><%= link_to "サインアップ", signup_path %></li>
        <li>ログイン</li>
      </ul>
    <% end %>
  </div>
</div>
